@page "/CreateUser"
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@inject IUserService userService;

<div class="card" style="width:400px">
  <img class="card-img-top" src="icons/log-in.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Register</h4>
      <p class="card-text">Create a profile.</p>
      <div class="col">
      <div class="row-cols-auto content d-flex align-content-center">
          <label>Username:</label>
          <input type="text" @bind="userName" @bind:event="oninput"/>
          @if (!string.IsNullOrEmpty(resultMsg))
          {
              <label style="color: @color">@resultMsg</label>
          }
      </div>
      <div class="row-cols-auto content d-flex align-content-center">
              <label>First Name:</label>
              <input type="text" @bind="firstName" @bind:event="oninput"/>
                @if (!string.IsNullOrEmpty(resultMsg))
                      {
                          <label style="color: @color">@resultMsg</label>
                      }
          </div>
          <div class="row-cols-auto content d-flex align-content-center">
               <label>Last Name:</label>
              <input type="text" @bind="lastName" @bind:event="oninput"/>
                @if (!string.IsNullOrEmpty(resultMsg))
                      {
                          <label style="color: @color">@resultMsg</label>
                      }
              </div>
          <div class="row-cols-auto content d-flex align-content-center">
              <label>Email Adress:</label>
              <input type="text" @bind="emailAddress" @bind:event="oninput"/>
              @if (!string.IsNullOrEmpty(resultMsg))
              {
                  <label style="color: @color">@resultMsg</label>
              }
          </div>
          <div class="button-row">
              <button @onclick="Create" disabled="@(string.IsNullOrEmpty(userName) || (string.IsNullOrEmpty(firstName) ||(string.IsNullOrEmpty(lastName))))" class="acceptbtn">Create</button>
          </div>
          </div>
  </div>
</div>


@code {
    private string userName = "";
    private string password = "";
    private string firstName = "";
    private string lastName = "";
    private string emailAddress = "";
    private string resultMsg = "";
    private string color = "";
    
    private async Task Create()
    {
        resultMsg = "";

        try
        {
            Console.WriteLine("here");
            await userService.Create(new UserCreationDto(userName, password));
            userName = "";
            firstName = "";
            lastName = "";
            emailAddress = "";
            resultMsg = "User successfully created";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
}